<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New message!</h1>
    <h5>from: <%= @name %></h5>
    <h5>from: <%= @email %></h5>

    <h6>Message:</h6>
    <p><%= @message %></p>
  </body>
</html>
